# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties

# IntelliJ
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Lombok cache
lombok.config

# Java
*.class

# Backup files
*.swp
*~
